.card_container {
    border: thin #ccc solid;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px
    border: thin #ccc solid;
    border-radius: 10px
}
.flip{
    transition: 0,6s;
    transform-style: preserve-3d;
    position: relative;
    width: 220px;
    height: 300px;
    position: absolute
}



.card_front{
    background-color: wheat
    padding: 10px;
    width:100%;
    height:100%;
    position: absolute
}
.card_container.flip_card .flip{
    transform: rotateY(180deg);
    
    
}


.card_back{
    background-color: mediumorchid
    width:100%;
    height:100%
        border: thin #ccc solid;
    border-radius: 10px
}




            img{
                width: 50px;
                    display: block;
                    margin: 0 auto;
            }
body{
    
background-color: mediumturquoise
    
}
#cardDeck{
    width: 1512px;
    margin: 0 auto;
}

@media (max-width: 600px){
    .card_container{
        width: 180px;
        height: 240px;
        background-color: salmon
    } 
}